/* Different responsive breakpoint specific styling */

* {
    font-family: 'Roboto', sans-serif;
    transition: all ease-in-out .2s;
}

body {
    background: rgb(245, 245, 245);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1.mega {
    font-size: 5vw;
}

a {
    color: inherit;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

#top-menubar {
    background: url('./images/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40px;
}

#top-menubar #info p {
    display: block;
    float: left;
    margin-bottom: 0;
    font-size: 13px;
    color: #fff;
    height: 100%;
}

#top-menubar #info p a, #top-menubar #info p span {
    padding: 5px 10px;
    display: block;
    height: 100%;
}

#top-menubar #info p a:hover {
    color: #ff0000;
    background-color: #fff;
}

#top-menubar #info p i.material-icons, #top-menubar #search p i.material-icons {
    font-size: 1.5em;
    margin-right: 3px;
    position: relative;
    top: 5px;
}

#top-menubar #search #phone2 {
    display: none;
}

#top-menubar #search #searchbutton {
    float: right;
    background-color: #ff0000;
    color: #fff;
    transition: none;
}

#top-menubar #search #searchbutton:hover {
    background-color: #fff;
    color: #ff0000;
}

#top-menubar #search #searchbutton i.material-icons {
    transition: none;
}

#top-menubar #search p {
    margin-bottom: 0;
    font-size: 13px;
    color: #fff;
    height: 100%;
}

#top-menubar #search p span {
    padding: 5px 10px;
    display: block;
    height: 100%;
}

#bottom-menubar {
    min-height: 80px;
}

#bottom-menubar #menu-toggle {
    display: none;
    float: right;
    height: 100%;
    color: inherit;
    border: none;
    background-color: transparent;
}

nav#menu ul {
    list-style: none;
    margin-bottom: 0;
    height: 100%;
    float: right;
    padding: 0;
    width: 100%;
    display: block;
}

nav#menu ul li {
    float: left;
    height: 100%;
}

nav#menu ul li a {
    padding: 28px 25px;
    display: block;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
}

nav#menu ul li a:hover {
    background-color: #eee;
    color: #ff0000;
}

#navbarCollapse {
    float: right;
    height: 100%;
}

.fixed-top {
    animation: smoothScroll 0.3s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* =======================
    Search bar
======================*/

.search-bar {
    background: transparent;
	z-index: 980;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px 0 rgba(0,0,0, 0.05);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0, 0.05);
	-webkit-transition: 0.25s;
    transition: 0.25s;
}

.search-bar input.form-control {
    border-radius: 0;
    border: none;
    font-size: 14px;
}

/* =======================
    Slider Images
======================*/
.slider-image {
    background: url('./images/cakeboard.png');
    width:100%;
    padding-top:31.25%;
    position:relative;
    background-size:cover;
    background-position: center center;
}

/* =======================
    Sections
======================*/
.text-red {
    color: red;
}

.text-blue {
    color: rgb(1, 1, 116);
}

section#content h6 {
    line-height: 1.7rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

footer#mainfooter #top-footer, footer#mainfooter #bottom-footer {
    background-color: #fff;
}

footer#mainfooter #top-footer {
    border-bottom: 1px solid #eee;
}

footer#mainfooter #top-footer h5 {
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

footer#mainfooter #top-footer a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

footer#mainfooter #top-footer .container .row{
    padding-top: 30px;
}

footer#mainfooter #top-footer .container .row div {
    margin-bottom: 25px;
}

footer#mainfooter #bottom-footer p {
    padding: 20px;
    font-size: 13px;
    margin-bottom: 0px;
}

.btn.btn-sp {
    height: 100%;
    border-radius: 0px;
}

/* Super small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    #info {
        display: none;
    }

    nav#menu ul {
        float: left;
    }

    nav#menu ul li a {
        padding: 28px 15px;
    }

    #navbarCollapse {
        float: left;
    }

    #bottom-menubar #menu-toggle {
        display: block;
    }
    
    #top-menubar #search #phone2 {
        display: block;
    }

    #mainfooter #top-footer  {
        text-align: center;
    }

    .slider-image {
        padding-top: 43.1%;
    }

    h1.mega {
        font-size: 2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #info {
        display: none;
    }

    nav#menu ul {
        float: left;
    }

    nav#menu ul li a {
        padding: 28px 15px;
    }

    #navbarCollapse {
        float: left;
    }
    
    #bottom-menubar #menu-toggle {
        display: block;
    }

    #top-menubar #search #phone2 {
        display: block;
    }

    #mainfooter #top-footer  {
        text-align: center;
    }

    .slider-image {
        padding-top: 43.1%;
    }

    h1.mega {
        font-size: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    nav#menu ul li a {
        padding: 28px 20px;
    }

    #top-menubar #info p#location {
        display: none;
    }

    .slider-image {
        padding-top: 43.1%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}